

.carousel-btn {
    position: absolute;
    bottom: 55vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(32, 109, 232);
    color: black;
    border: none;
    padding: 10px ;
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    box-shadow: 2px 2px 4px black;
}



.overview{
    width: 100%;
    height: 40vh;
    /* background-color: black; */
    margin-top: 10vh;
    text-align: center;
}
.overview p{
    font-weight: 500;
    margin-top: 6vh;
    opacity: 0.8;
    line-height: 3.4vh;
    letter-spacing: 0.1vh;
    text-align: center;
}
.btn{
    margin-top: 1vh;
}
.btn a{
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 600px){
 
    .carousel-item h1 {
        bottom: 26vh;
        /* margin-left: 35vw; */
        font-size: 1.5vh;
        text-align: center;
    }

    .carousel-item p {
        bottom: 15vh;
        margin-left: 4vw;
        font-size: 3vw;
        font-weight: 600;

    }

    .carousel-btn {
        bottom: 12vh;
        padding: 5px 10px;
        left: 50%;
        font-size: 1.5vh;
    }
    .overview{
        margin-top: 2vh;
    }
    .overview h1{
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        color: #000;
        margin-top: 8vh;
        opacity: 0.8;
        
    }
    .overview p{
        padding: 0.5vw;
        margin-top: 2vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 0.7;
    }
    
}

.discription{
    margin-top: 4vh;
    width: 80vw;
    margin-left: 10vw;
}
.discription h2{
    text-align: center;
}
.discription p{
    text-align: center;
    padding: 2vh;
}


.card-container {
    height: 40vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 0;
    margin-bottom: 6vh;
}

.cards {
    position: relative;
    height: 40vh;
    width: 20vw;
    transition: transform 1s ease;
    overflow: hidden;
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4vh;
}

.cards img {
    height: 10vh;
    width: 5vw;
    margin-left: 8vw;
    margin-top: 2vh;
}

.cards h3, .cards p {
    text-align: center;
    padding: 2vh;
}

.card-hover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 128, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.5s ease; 
    z-index: 1;
}

.cards:hover .card-hover {
    opacity: 1;
    left: 0; 
}


@media (max-width: 600px) {
    .discription{
        margin-top: 40vh;
    }
    .card-container{
        display: block;
        margin-bottom: 90vh;
        padding: 0 10vw;
    }
    .cards{
        width: 80vw;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        border: 2px solid #1FB8A1;
    }
    .cards img{
        width: 20vw;
        height: 10vh;
        margin-left: 30vw;
        color: blue;
    }
}

.box{
    height: 85vh;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.3);
    display: flex;
    padding: 4vh 0;
}

.box .pic img{
    height: 80vh;
    width: 45vw;
}
.disc {
    margin-left: 1vh;
}
.disc h4{
    padding: 2vh 1vh;
}
.disc p{
    padding: 1vh;
    opacity: 0.8;
}

.lists span {
    height: 5vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}
.lists span i{
    padding-right: 2vh;
    padding-left: 2vh;
    color: red;
}

@media (max-width: 600px) {
    .box{
        display: inline-block;
        height: 155vh;
    }
    .box .pic img{
        height: 40vh;
        width: 100vw;
    }
    .lists span{
        width: 20vw;
        opacity: 0.8;
    }
}
