body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contact {
    height: auto;
    background-color: #1FB8A1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.25vh 1vh;
    transition: background-color 0.3s ease;
}
.contact:hover {
    background-color: #17a589;
}

.contact a {
    text-decoration: none;
    color: white;
    margin: 0.625vh 1vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: black;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.media {
    margin: 0 0.625vh;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.media a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media:hover {
    transform: scale(1.1);
    background-color: rgb(28, 94, 130);
}

.media i:hover {
    cursor: pointer;
    color: black;
}

.sticky-bar {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 0.25vh 0.625vh rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 1.25vh 2.5vh;
    transition: box-shadow 0.3s ease;
}
.sticky-bar:hover {
    box-shadow: 0 0.5vh 1.25vh rgba(0, 0, 0, 0.2);
}

.icon a img {
    height: 8vh;
    width: auto;
    margin-left: 8vh;
    float: right;
}

.navbar {
    width: 100%;
    background-color: yellowgreen;
    padding: 2.5vh 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.navbar:hover {
    background-color: #669933;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-nav .nav-item {
    margin: 0.2vh 1vh;
}

/* .navbar-nav .nav-item {
    margin-right: 1.5vw;
} */

.navbar-nav .nav-link {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    margin: 0 4vh auto 4vh;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #004d00 !important;
    transform: scale(1.1);
}

.dropdown-menu {
    background-color: black;
    border: none;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #333;
    padding: 1vh 1.5vw;
    transition: background 0.3s, transform 0.2s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: yellowgreen;
    color: black;
    transform: scale(1.05);
}

.navbar-toggler {
    border: none;
    background-color: yellowgreen;
    float: right;
    margin-left: 30vw;
}

.navbar-toggler-icon {
    filter: invert(1);
    float: right;
}

.certify {
    background-color: #e9ecef;
    padding: 5vh 2vw;
    text-align: center;
    font-size: 1.8vh;
    color: #555;
    border-radius: 0.8vw;
    margin-top: 2vh;
}

@media (max-width: 600px) {
    .navbar-nav {
        text-align: center;
        flex-direction: row;
    }
    
    .navbar-nav .nav-item {
        margin-bottom: 1vh;
        margin-right: 0;
    }

    .navbar-collapse {
        background: white;
        padding: 1vh;
        box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
    }

    .contact {
        flex-direction: row;
        padding: 1vh;
        align-items: center;
        display: none;
    }

    .contact a {
        margin: 0.5vh 0;
    }

    .media {
        margin: 0.5vh;
        font-size: 1.2vw;
        width: 4vw;
        height: 4vw;
    }

    .sticky-bar {
        flex-direction: row;
        padding: 1vh;
    }

    .menu {
        width: 300vh;
    }
    /* .container{
        background-color: #17a589;
    } */

    .navbar-brand img {
        width: 60vw;
        height: 10vh;
    }

    .navbar-toggler {
        margin-left: 0;
        /* background-color: #17a589; */
    }
    .navbar-collapse{
        /* background-color: #17a589; */
        border: 1px solid black;
        border-radius: 2vh;
    }

    .certify {
        padding: 2vh;
        font-size: 1.6vh;
    }
    .icon a img {
        display: none;
    }
}


.carousel-item {
    position: relative;
}
.carousel-item img{
    height: 80vh;
    opacity: 0.4;
}
.carousel-item h1{
    position: absolute;
    bottom: 70vh;
    margin-left: 40vw;
    color: rgb(12, 181, 220);
}
.carousel-item p{
    position: absolute;
    bottom: 61vh;
    font-size: large;
    margin-left: 30vw;
    color: black;
}

.carousel-btn {
    position: absolute;
    bottom: 55vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(32, 109, 232);
    color: black;
    border: none;
    padding: 10px ;
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    box-shadow: 2px 2px 4px black;
}



.overview{
    width: 100%;
    height: 40vh;
    /* background-color: black; */
    margin-top: 10vh;
    text-align: center;
}
.overview p{
    font-weight: 500;
    margin-top: 6vh;
    opacity: 0.8;
    line-height: 3.4vh;
    letter-spacing: 0.1vh;
    text-align: center;
}
.btn{
    margin-top: 1vh;
}
.btn a{
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 600px){
    .carousel-item img {
        height: 30vh;
        opacity: 0.4;
    }

    .carousel-item h1 {
        bottom: 26vh;
        /* margin-left: 35vw; */
        font-size: 1.5vh;
        text-align: center;
    }

    .carousel-item p {
        bottom: 15vh;
        margin-left: 4vw;
        font-size: 3vw;
        font-weight: 600;

    }

    .carousel-btn {
        bottom: 12vh;
        padding: 5px 10px;
        left: 50%;
        font-size: 1.5vh;
    }
    .overview{
        margin-top: 2vh;
    }
    .overview h1{
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        color: #000;
        margin-top: 8vh;
        opacity: 0.8;
        
    }
    .overview p{
        padding: 0.5vw;
        margin-top: 2vh;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 0.7;
    }
    
}

.discription{
    margin-top: 4vh;
    width: 80vw;
    margin-left: 10vw;
}
.discription h2{
    text-align: center;
}
.discription p{
    text-align: center;
    padding: 2vh;
}


.card-container {
    height: 40vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 0;
    margin-bottom: 6vh;
}

.cards {
    position: relative;
    height: 40vh;
    width: 20vw;
    transition: transform 1s ease;
    overflow: hidden;
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4vh;
}

.cards img {
    height: 10vh;
    width: 5vw;
    margin-left: 8vw;
    margin-top: 2vh;
}

.cards h3, .cards p {
    text-align: center;
    padding: 2vh;
}

.card-hover {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 128, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.5s ease; 
    z-index: 1;
}

.cards:hover .card-hover {
    opacity: 1;
    left: 0; 
}


@media (max-width: 600px) {
    .discription{
        margin-top: 40vh;
    }
    .card-container{
        display: block;
        margin-bottom: 90vh;
        padding: 0 10vw;
    }
    .cards{
        width: 80vw;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        border: 2px solid #1FB8A1;
    }
    .cards img{
        width: 20vw;
        height: 10vh;
        margin-left: 30vw;
        color: blue;
    }
}

.box{
    height: 85vh;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.3);
    display: flex;
    padding: 4vh 0;
}

.box .pic img{
    height: 80vh;
    width: 45vw;
}
.disc {
    margin-left: 1vh;
}
.disc h4{
    padding: 2vh 1vh;
}
.disc p{
    padding: 1vh;
    opacity: 0.8;
}

.lists span {
    height: 5vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}
.lists span i{
    padding-right: 2vh;
    padding-left: 2vh;
    color: red;
}

@media (max-width: 600px) {
    .box{
        display: inline-block;
        height: 155vh;
    }
    .box .pic img{
        height: 40vh;
        width: 100vw;
    }
    .lists span{
        width: 20vw;
        opacity: 0.8;
    }
}

.doctors{
    height: 80vh;
    margin: 4vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.doctors h3{
    color: #099178;
   
}

.doctors p{
    padding: 2vh;
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.doctors a{
    text-decoration: none;
    color:rgb(6, 145, 231);
}
.gallary{
    width:100vw;
    display: flex;
    overflow-x: scroll;
}
#first_btn i{
    opacity: 0.8;
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: large;
    color: white;
    background-color: #3b3939;
}
#next_btn i{
    opacity: 0.8;
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: large;
    color: white;
    background-color: #3b3939;
}
.gallary div{
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vh;
    padding: 1vw;
    flex:none
}
.gallary div span img{
    width: 20vw;
    border: 0.5vh solid rgb(9, 188, 237);
    height: 50vh;
    border-radius: 5vh;
}

.gallary::-webkit-scrollbar{
    display: none;
}
.gallary-Wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vh auto;
    width: 92vw;
}


#first_btn , #next_btn{
    width: 5vh;
    cursor: pointer;
    margin: 5vh;
}

@media (max-width: 600px){

    .doctors{
        height: 90vw;
        align-items: center;
        justify-content: center;
    }
    .doctors p{
        font-size: 3vw;
    }
    .gallary-Wrap{
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }
    
    .gallary {
        width: 200vw;
        display: flex;
    }

    .gallary div {
        grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
        grid-gap: 8vw;
        padding: 4vw;
        width: 180vw;
        display: flex;
    }
    .gallary div span{
        width: 100vw;
    }
    .gallary div span img {
        width: 50vw;
        max-width: 80vw;
        height: 40vh;
        border: 0.1vh solid rgb(27, 38, 42);
    }

    #first_btn i, #next_btn i{
        width: 3vh;
        height: 3vh;
    }
    #first_btn , #next_btn{
        width: 1vw;
        height: 1vw;
    }
    
}

.dept h2{
    font-size: 4vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgba(5, 47, 52,0.8);
    padding: 4vh;
}

#main-containt {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(232, 232, 232, 0.3);
}

#main-containt .card {
    height: 40vh;
    width: 50vh;
    border: 1px solid #000000;
    border-radius: 2vh;
    margin-top: 5vh;
    margin-left: 15vh;
}
.card a img {
    height: 18vh;
    width: 10vw;
    margin-left: 8vw;
    background-color: #84d3da;
    padding: 1vw;
    border-radius: 50%;
    margin-top: 2vh;
}
.text {
    padding-top: 2vh;
    text-align: center;
}
.text a {
    text-decoration: none;
    margin-bottom: 1vh;
    margin-top: 0.5vw;
    color: #1FB8A1;
}
.card:hover {
    box-shadow: 0.5vh 0.5vw 3vh rgb(146, 146, 143);
}

@media (max-width: 600px){
    .dept{
        color: #000;
        margin-top: 50vh;
        height: 10vh;
        width: 100%;

    }
    #main-containt {
        width: 100vw;
        margin-top: 5vh;
    }
    #main-containt .card {
        margin: 2vh 2vh;
        width: 100vw;
        border: 2px solid #1FB8A1;
        border-radius: 6vw;
        padding: 0.2vh;
    }
    
    .card a img {
        margin-left: 25vw;
        width: 40vw;
        height: 15vh;
    }
}